<main class="main">
    {{#with data}}
    {{> heading title="Інформація про замовлення"}}


    <div class="purchase-info__id">
        <div class="purchase-info__field">ID:</div>
        <div class="purchase-info__item">{{id}}</div>

    </div>

    {{> purchase-divider}}

    <div class="purchase-info__customer">
        <div class="purchase-info__field">
            <div>Ім'я:</div>
            <div class="purchase-info__item">
                {{firstname}}
            </div>
        </div>

        <div class="purchase-info__field">
            <div>Прізвище:</div>
            <div class="purchase-info__item">
                {{lastname}}
            </div>
        </div>

        <div class="purchase-info__field">
            <div>Телефон:</div>
            <div class="purchase-info__item">
                {{phone}}
            </div>

        </div>
        <div class="purchase-info__field">
            <div>Електронна пошта:</div>
            <div class="purchase-info__item">
                {{email}}
            </div>
        </div>

    </div>
    </div>

    {{> purchase-divider}}

    <div class="purchase-info__address">
        <div class="purchase-info__field">Адреса доставки: <div class="purchase-info__item">вул. Центральна 14, кв. 36,
                м. Київ, 02000,
                Україна</div>
        </div>
        <div class="purchase-info__field">Назва товару: <div class="purchase-info__item">{{product}}</div>
        </div>
    </div>

    {{> purchase-divider}}

    <div class="purchase-info__price">
        <div class="purchase-info__field">Вартість товарів: <div class="purchase-info__item">{{this.productPrice}}₴
            </div>
        </div>
        <div class="purchase-info__field">Вартість доставки: <div class="purchase-info__item">{{this.deliveryPrice}}₴
            </div>
        </div>
        <div class="purchase-info__field">Сума до сплати: <div class="purchase-info__item">{{this.totalPrice}}₴</div>
        </div>
        <div class="purchase-info__field">Нараховані бонуси: <div class="purchase-info__item">{{this.bonus}}₴</div>
        </div>
    </div>


    {{> purchase-divider}}

    <a href="/purchase-edit?id={{id}}">
        {{> purchase-button text="Змінити дані"}}
    </a>


    {{/with}}
</main>