<main class="main">
    {{#with data}}
    {{> heading title="Інформація про замовлення"}}

    {{#each list}}
    <div class="purchase-info__id">
        <div class="purchase-info__field">ID:</div>
        <div class="purchase-info__item">{{this.id}}</div>

    </div>

    {{> purchase-divider}}

    <div class="purchase-info__customer">
        <div class="purchase-info__field">
            <div>Ім'я:</div>
            <div class="purchase-info__item">
                {{this.firstname}}
            </div>
        </div>

        <div class="purchase-info__field">
            <div>Прізвище:</div>
            <div class="purchase-info__item">
                {{this.lastname}}
            </div>
        </div>

        <div class="purchase-info__field">
            <div>Телефон:</div>
            <div class="purchase-info__item">
                {{this.phone}}
            </div>

        </div>
        <div class="purchase-info__field">
            <div>Електронна пошта:</div>
            <div class="purchase-info__item">
                {{this.email}}
            </div>
        </div>

    </div>
    </div>

    {{> purchase-divider}}

    <div class="purchase-info__address">
        <div class="purchase-info__field">Адреса доставки: <div class="purchase-info__item">вул. Центральна 14, кв. 36,
                м. Київ, 02000,
                Україна</div>
        </div>
        <div class="purchase-info__field">Назва товару: <div class="purchase-info__item">{{this.product.title}}</div>
        </div>
    </div>

    {{> purchase-divider}}

    <div class="purchase-info__price">
        <div class="purchase-info__field">Вартість товарів: <div class="purchase-info__item">{{productPrice}}₴</div>
        </div>
        <div class="purchase-info__field">Вартість доставки: <div class="purchase-info__item">{{deliveryPrice}}₴</div>
        </div>
        <div class="purchase-info__field">Сума до сплати: <div class="purchase-info__item">{{totalPrice}}₴</div>
        </div>
        <div class="purchase-info__field">Нараховані бонуси: <div class="purchase-info__item">{{bonus}}₴</div>
        </div>
    </div>
    {{/each}}

    {{> purchase-divider}}

    <a href="/purchase-edit?id={{id}}">
        {{> purchase-button text="Змінити дані"}}
    </a>


    {{/with}}
</main>